---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "bootstrap";

/*
 * ===================================================
 * General
 * ====================================================
 */

body{
  padding-top: 70px;
}

#main-container{
  padding-top: 40px;
  padding-bottom: 40px;
}

#home-container{
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer{
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ddd;
  color: #b3b3b3;

  a{
    color: darken(#b3b3b3, 20%);
  }

  .content-left{
    text-align: left;

    @media only screen and (max-width: 778px){
      padding-bottom: 20px;
      text-align: center;
    }
  }

  .content-right{
    text-align: right;

    @media only screen and (max-width: 778px){
      padding-top: 20px;
      text-align: center;
    }
  }

  .social-nav{
    width: 100%;
    padding: 0;
    list-style: none;

    li{
      display: table-cell;
      width: 1%;
      text-align: center;

      a{
        &:hover{
          color: darken(#b3b3b3, 40%);
        }
      }
    }
  }
}

/*
 * ===================================================
 * Posts
 * ====================================================
 */
#post{
  padding-bottom: 60px;
}
