

/* ==========================================================================
	Author: Luis Mendoza
   ========================================================================== */



/* =================================Global Styles=============================== */

.center{
 	margin-left: auto;
  	margin-right: auto;
  	text-align: center;
}

.left{
	float: left !important;
}

.right{
	float: right !important;
}



/* ============================Media Queries============================ */

@media only screen and (max-width: 992px){
	#menuList, #menuButtonList, #menuLogo, #menuSocial{
		padding-left: 15px;
		margin-right: 5px;
	}

	.nav>li>a{
		padding-right: 4px;
		padding-left: 4px;
	}

	.menuHidden{
		font-size: 14px;
	}
}














