---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "bootstrap";

/*
 * ===================================================
 * General
 * ====================================================
 */

body{
  padding-top: 70px;
}

#main-container{
  padding-top: 40px;
  padding-bottom: 40px;
}

#home-container{
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer{
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ddd;
  color: #b3b3b3;

  a{
    color: darken(#b3b3b3, 20%);
  }

  .content-left{
    text-align: left;

    @media only screen and (max-width: 778px){
      padding-bottom: 20px;
      text-align: center;
    }
  }

  .content-right{
    text-align: right;

    @media only screen and (max-width: 778px){
      padding-top: 20px;
      text-align: center;
    }
  }

  .social-nav{
    width: 100%;
    padding: 0;
    list-style: none;

    li{
      display: table-cell;
      width: 1%;
      text-align: center;

      a{
        &:hover{
          color: darken(#b3b3b3, 40%);
        }
      }
    }
  }
}

/*
 * ===================================================
 * Posts
 * ====================================================
 */
#post{
  padding-bottom: 60px;
}

/*
 * ===================================================
 * Article styles
 * ====================================================
 */

article{
  a{
    color: #333333;
    text-decoration: none;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 19px;

    &:hover{
      color: darken(#b3b3b3, 20%);
      text-decoration: none;
      background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6) 50%);
      background-repeat: repeat-x;
      background-size: 2px 2px;
      background-position: 0 19px;
    }
  }

  p{
    line-height: 1.58;
    letter-spacing: 0.004em;
    margin-bottom: 16px;
    font-size: 21px;

    @media only screen and (max-width: 778px){
      font-size: 18px;
      line-height: 1.4;
    }
  }
}
