/* ==========================================================================
	Author: Luis Mendoza
   ========================================================================== */
/* ================================================================ 
  Global Styles
   ================================================================ */
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.fill {
  width: 100%; }

.light {
  font-weight: 300; }

.thin {
  font-weight: 100; }

body {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }

/* ================================================================ 
  Typography
   ================================================================ */
h1, h2, h3, h4, h5, .serif {
  font-family: 'Merriweather', serif; }

p, a, .sans {
  font-family: "Roboto"; }

* {
  font-family: "Roboto"; }

/* ==========================================================================
	Navigation
   ========================================================================== */
#nav {
  width: 100%;
  height: 100%;
  background-color: #2a2a2a;
  background-color: rgba(42, 42, 42, 0.8);
  color: #fff;
  z-index: 1000;
  position: fixed;
  top: 0;
  display: none; }
  #nav a {
    color: #fff; }
  #nav #nav-container {
    padding-top: 20px;
    overflow-y: scroll; }
  #nav .nav-pills li a:hover {
    background-color: transparent;
    color: #eee;
    text-decoration: underline; }
  #nav #nav-close {
    margin-top: 20px; }
  #nav #nav-tagline {
    margin-top: 10px; }
    @media only screen and (max-width: 778px) {
      #nav #nav-tagline {
        font-size: 10px; } }
  #nav #nav-links,
  #nav #nav-social {
    margin-top: 30px; }
  #nav #nav-links li a {
    font-size: 20px; }
    @media only screen and (max-width: 778px) {
      #nav #nav-links li a {
        font-size: 16px; } }
  #nav #nav-social {
    width: 24%; }
    #nav #nav-social li {
      display: inline-block; }
      #nav #nav-social li a {
        padding: 12px; }
        #nav #nav-social li a:hover {
          background-color: transparent;
          color: #eaeaea; }
        @media only screen and (max-width: 778px) {
          #nav #nav-social li a {
            padding: 8px; } }
    @media only screen and (max-width: 778px) {
      #nav #nav-social {
        width: 68%; } }

#main-container {
  width: 100%;
  z-index: 100;
  margin-top: 0;
  margin-left: 0;
  height: 2000px;
  position: relative;
  background-position: center center;
  background-size: cover; }
  #main-container #menu {
    width: 100%;
    position: fixed;
    z-index: 200;
    top: 0;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }
    #main-container #menu #nav-toggle {
      vertical-align: middle;
      cursor: pointer; }
    #main-container #menu h3 {
      margin: 0;
      vertical-align: middle; }
    #main-container #menu .container {
      padding-top: 20px;
      padding-bottom: 20px; }
  #main-container #menu.white {
    background-color: #fff; }
    #main-container #menu.white a, #main-container #menu.white i {
      color: #000; }
  #main-container #menu.transparent {
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.01); }
    #main-container #menu.transparent a, #main-container #menu.transparent i {
      color: #fff;
      text-shadow: 1px 1px 3px #000; }
  #main-container #hero {
    background-position: center center;
    background-size: cover;
    text-align: center; }
    #main-container #hero #tag-line {
      padding-top: 20%;
      color: #fff;
      text-shadow: 1px 1px 3px #000; }
      #main-container #hero #tag-line span {
        font-size: 30px; }
    #main-container #hero #scroll-down {
      padding-top: 100px;
      color: #fff;
      text-shadow: 1px 1px 3px #000; }

/* ==========================================================================
	Plugins
   ========================================================================== */
/*  Typed.js */
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=main.css.map */
