<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <ul class="nav nav-pills nav-justified">
          <li><a href="https://github.com/luismendozamx" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
          <li><a href="https://instagram.com/luismendozamx" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
          <li><a href="https://twitter.com/luismendozamx" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
          <li><a href="https://www.linkedin.com/in/luismendozamx" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

